html, body, #root {
    font: 0.9rem Noto Sans;
    height: 100%;
    margin: 0;
}

.main-container {
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}